name: Tests

on: [pull_request]

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Run build
        run: "npm run build"

      - name: Archive build output
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: dist
          retention-days: 1

  test:
    runs-on: ubuntu-latest

    needs: build

    strategy:
      matrix:
        node-version: [14.x]
        type: [lint, unit, integration, e2e]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      uses: bahmutov/npm-install@v1

    - name: Install browsers
      if: ${{ matrix.type == 'e2e'}}
      run: 'npx playwright install-deps chromium'

    - name: Run linting
      run: 'npm run test:${{ matrix.type }}'